workflow.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logic_app_name": {
            "defaultValue": "",
            "type": "string"
        },

        "location": {
            "defaultValue": "uksouth",
            "type": "string" 
        },
        "rg": {
            "defaultValue": "",
            "type": "string" 
        },
        "sb_con_name": {
            "defaultValue": "github-sb-jenkins-con",
            "type": "string" 
        },
        "subscription_id": {
            "defaultValue": "",
            "type": "string" 
        },
        "commonTags": {
            "defaultValue": "",
            "type": "string"
        }

     },
    "variables": {
        "tags": "[base64ToJson(parameters('commonTags'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logic_app_name')]",
            "location": "[parameters('location')]",
            "tags": "[variables('tags')]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "action": {
                                            "type": "string"
                                        },
                                        "after": {
                                            "type": "string"
                                        },
                                        "before": {
                                            "type": "string"
                                        },
                                        "enterprise": {
                                            "properties": {
                                                "avatar_url": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "html_url": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "node_id": {
                                                    "type": "string"
                                                },
                                                "slug": {
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "type": "string"
                                                },
                                                "website_url": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "number": {
                                            "type": "integer"
                                        },
                                        "organization": {
                                            "properties": {
                                                "avatar_url": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "events_url": {
                                                    "type": "string"
                                                },
                                                "hooks_url": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "issues_url": {
                                                    "type": "string"
                                                },
                                                "login": {
                                                    "type": "string"
                                                },
                                                "members_url": {
                                                    "type": "string"
                                                },
                                                "node_id": {
                                                    "type": "string"
                                                },
                                                "public_members_url": {
                                                    "type": "string"
                                                },
                                                "repos_url": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "pull_request": {
                                            "properties": {
                                                "_links": {
                                                    "properties": {
                                                        "comments": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "commits": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "html": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "issue": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "review_comment": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "review_comments": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "self": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "statuses": {
                                                            "properties": {
                                                                "href": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "active_lock_reason": {},
                                                "additions": {
                                                    "type": "integer"
                                                },
                                                "assignee": {},
                                                "assignees": {
                                                    "type": "array"
                                                },
                                                "author_association": {
                                                    "type": "string"
                                                },
                                                "auto_merge": {},
                                                "base": {
                                                    "properties": {
                                                        "label": {
                                                            "type": "string"
                                                        },
                                                        "ref": {
                                                            "type": "string"
                                                        },
                                                        "repo": {
                                                            "properties": {
                                                                "allow_auto_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_forking": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_merge_commit": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_rebase_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_squash_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_update_branch": {
                                                                    "type": "boolean"
                                                                },
                                                                "archive_url": {
                                                                    "type": "string"
                                                                },
                                                                "archived": {
                                                                    "type": "boolean"
                                                                },
                                                                "assignees_url": {
                                                                    "type": "string"
                                                                },
                                                                "blobs_url": {
                                                                    "type": "string"
                                                                },
                                                                "branches_url": {
                                                                    "type": "string"
                                                                },
                                                                "clone_url": {
                                                                    "type": "string"
                                                                },
                                                                "collaborators_url": {
                                                                    "type": "string"
                                                                },
                                                                "comments_url": {
                                                                    "type": "string"
                                                                },
                                                                "commits_url": {
                                                                    "type": "string"
                                                                },
                                                                "compare_url": {
                                                                    "type": "string"
                                                                },
                                                                "contents_url": {
                                                                    "type": "string"
                                                                },
                                                                "contributors_url": {
                                                                    "type": "string"
                                                                },
                                                                "created_at": {
                                                                    "type": "string"
                                                                },
                                                                "default_branch": {
                                                                    "type": "string"
                                                                },
                                                                "delete_branch_on_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "deployments_url": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "disabled": {
                                                                    "type": "boolean"
                                                                },
                                                                "downloads_url": {
                                                                    "type": "string"
                                                                },
                                                                "events_url": {
                                                                    "type": "string"
                                                                },
                                                                "fork": {
                                                                    "type": "boolean"
                                                                },
                                                                "forks": {
                                                                    "type": "integer"
                                                                },
                                                                "forks_count": {
                                                                    "type": "integer"
                                                                },
                                                                "forks_url": {
                                                                    "type": "string"
                                                                },
                                                                "full_name": {
                                                                    "type": "string"
                                                                },
                                                                "git_commits_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_refs_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_tags_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_url": {
                                                                    "type": "string"
                                                                },
                                                                "has_discussions": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_downloads": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_issues": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_pages": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_projects": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_wiki": {
                                                                    "type": "boolean"
                                                                },
                                                                "homepage": {},
                                                                "hooks_url": {
                                                                    "type": "string"
                                                                },
                                                                "html_url": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "is_template": {
                                                                    "type": "boolean"
                                                                },
                                                                "issue_comment_url": {
                                                                    "type": "string"
                                                                },
                                                                "issue_events_url": {
                                                                    "type": "string"
                                                                },
                                                                "issues_url": {
                                                                    "type": "string"
                                                                },
                                                                "keys_url": {
                                                                    "type": "string"
                                                                },
                                                                "labels_url": {
                                                                    "type": "string"
                                                                },
                                                                "language": {
                                                                    "type": "string"
                                                                },
                                                                "languages_url": {
                                                                    "type": "string"
                                                                },
                                                                "license": {
                                                                    "properties": {
                                                                        "key": {
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "node_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "spdx_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "url": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "merge_commit_message": {
                                                                    "type": "string"
                                                                },
                                                                "merge_commit_title": {
                                                                    "type": "string"
                                                                },
                                                                "merges_url": {
                                                                    "type": "string"
                                                                },
                                                                "milestones_url": {
                                                                    "type": "string"
                                                                },
                                                                "mirror_url": {},
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "node_id": {
                                                                    "type": "string"
                                                                },
                                                                "notifications_url": {
                                                                    "type": "string"
                                                                },
                                                                "open_issues": {
                                                                    "type": "integer"
                                                                },
                                                                "open_issues_count": {
                                                                    "type": "integer"
                                                                },
                                                                "owner": {
                                                                    "properties": {
                                                                        "avatar_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "events_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "followers_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "following_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "gists_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "gravatar_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "html_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "id": {
                                                                            "type": "integer"
                                                                        },
                                                                        "login": {
                                                                            "type": "string"
                                                                        },
                                                                        "node_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "organizations_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "received_events_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "repos_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "site_admin": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "starred_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "subscriptions_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "type": "string"
                                                                        },
                                                                        "url": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "private": {
                                                                    "type": "boolean"
                                                                },
                                                                "pulls_url": {
                                                                    "type": "string"
                                                                },
                                                                "pushed_at": {
                                                                    "type": "string"
                                                                },
                                                                "releases_url": {
                                                                    "type": "string"
                                                                },
                                                                "size": {
                                                                    "type": "integer"
                                                                },
                                                                "squash_merge_commit_message": {
                                                                    "type": "string"
                                                                },
                                                                "squash_merge_commit_title": {
                                                                    "type": "string"
                                                                },
                                                                "ssh_url": {
                                                                    "type": "string"
                                                                },
                                                                "stargazers_count": {
                                                                    "type": "integer"
                                                                },
                                                                "stargazers_url": {
                                                                    "type": "string"
                                                                },
                                                                "statuses_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscribers_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscription_url": {
                                                                    "type": "string"
                                                                },
                                                                "svn_url": {
                                                                    "type": "string"
                                                                },
                                                                "tags_url": {
                                                                    "type": "string"
                                                                },
                                                                "teams_url": {
                                                                    "type": "string"
                                                                },
                                                                "topics": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "trees_url": {
                                                                    "type": "string"
                                                                },
                                                                "updated_at": {
                                                                    "type": "string"
                                                                },
                                                                "url": {
                                                                    "type": "string"
                                                                },
                                                                "use_squash_pr_title_as_default": {
                                                                    "type": "boolean"
                                                                },
                                                                "visibility": {
                                                                    "type": "string"
                                                                },
                                                                "watchers": {
                                                                    "type": "integer"
                                                                },
                                                                "watchers_count": {
                                                                    "type": "integer"
                                                                },
                                                                "web_commit_signoff_required": {
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "sha": {
                                                            "type": "string"
                                                        },
                                                        "user": {
                                                            "properties": {
                                                                "avatar_url": {
                                                                    "type": "string"
                                                                },
                                                                "events_url": {
                                                                    "type": "string"
                                                                },
                                                                "followers_url": {
                                                                    "type": "string"
                                                                },
                                                                "following_url": {
                                                                    "type": "string"
                                                                },
                                                                "gists_url": {
                                                                    "type": "string"
                                                                },
                                                                "gravatar_id": {
                                                                    "type": "string"
                                                                },
                                                                "html_url": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "login": {
                                                                    "type": "string"
                                                                },
                                                                "node_id": {
                                                                    "type": "string"
                                                                },
                                                                "organizations_url": {
                                                                    "type": "string"
                                                                },
                                                                "received_events_url": {
                                                                    "type": "string"
                                                                },
                                                                "repos_url": {
                                                                    "type": "string"
                                                                },
                                                                "site_admin": {
                                                                    "type": "boolean"
                                                                },
                                                                "starred_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscriptions_url": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "url": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "body": {
                                                    "type": "string"
                                                },
                                                "changed_files": {
                                                    "type": "integer"
                                                },
                                                "closed_at": {},
                                                "comments": {
                                                    "type": "integer"
                                                },
                                                "comments_url": {
                                                    "type": "string"
                                                },
                                                "commits": {
                                                    "type": "integer"
                                                },
                                                "commits_url": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "deletions": {
                                                    "type": "integer"
                                                },
                                                "diff_url": {
                                                    "type": "string"
                                                },
                                                "draft": {
                                                    "type": "boolean"
                                                },
                                                "head": {
                                                    "properties": {
                                                        "label": {
                                                            "type": "string"
                                                        },
                                                        "ref": {
                                                            "type": "string"
                                                        },
                                                        "repo": {
                                                            "properties": {
                                                                "allow_auto_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_forking": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_merge_commit": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_rebase_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_squash_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "allow_update_branch": {
                                                                    "type": "boolean"
                                                                },
                                                                "archive_url": {
                                                                    "type": "string"
                                                                },
                                                                "archived": {
                                                                    "type": "boolean"
                                                                },
                                                                "assignees_url": {
                                                                    "type": "string"
                                                                },
                                                                "blobs_url": {
                                                                    "type": "string"
                                                                },
                                                                "branches_url": {
                                                                    "type": "string"
                                                                },
                                                                "clone_url": {
                                                                    "type": "string"
                                                                },
                                                                "collaborators_url": {
                                                                    "type": "string"
                                                                },
                                                                "comments_url": {
                                                                    "type": "string"
                                                                },
                                                                "commits_url": {
                                                                    "type": "string"
                                                                },
                                                                "compare_url": {
                                                                    "type": "string"
                                                                },
                                                                "contents_url": {
                                                                    "type": "string"
                                                                },
                                                                "contributors_url": {
                                                                    "type": "string"
                                                                },
                                                                "created_at": {
                                                                    "type": "string"
                                                                },
                                                                "default_branch": {
                                                                    "type": "string"
                                                                },
                                                                "delete_branch_on_merge": {
                                                                    "type": "boolean"
                                                                },
                                                                "deployments_url": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "disabled": {
                                                                    "type": "boolean"
                                                                },
                                                                "downloads_url": {
                                                                    "type": "string"
                                                                },
                                                                "events_url": {
                                                                    "type": "string"
                                                                },
                                                                "fork": {
                                                                    "type": "boolean"
                                                                },
                                                                "forks": {
                                                                    "type": "integer"
                                                                },
                                                                "forks_count": {
                                                                    "type": "integer"
                                                                },
                                                                "forks_url": {
                                                                    "type": "string"
                                                                },
                                                                "full_name": {
                                                                    "type": "string"
                                                                },
                                                                "git_commits_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_refs_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_tags_url": {
                                                                    "type": "string"
                                                                },
                                                                "git_url": {
                                                                    "type": "string"
                                                                },
                                                                "has_discussions": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_downloads": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_issues": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_pages": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_projects": {
                                                                    "type": "boolean"
                                                                },
                                                                "has_wiki": {
                                                                    "type": "boolean"
                                                                },
                                                                "homepage": {},
                                                                "hooks_url": {
                                                                    "type": "string"
                                                                },
                                                                "html_url": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "is_template": {
                                                                    "type": "boolean"
                                                                },
                                                                "issue_comment_url": {
                                                                    "type": "string"
                                                                },
                                                                "issue_events_url": {
                                                                    "type": "string"
                                                                },
                                                                "issues_url": {
                                                                    "type": "string"
                                                                },
                                                                "keys_url": {
                                                                    "type": "string"
                                                                },
                                                                "labels_url": {
                                                                    "type": "string"
                                                                },
                                                                "language": {
                                                                    "type": "string"
                                                                },
                                                                "languages_url": {
                                                                    "type": "string"
                                                                },
                                                                "license": {
                                                                    "properties": {
                                                                        "key": {
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "node_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "spdx_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "url": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "merge_commit_message": {
                                                                    "type": "string"
                                                                },
                                                                "merge_commit_title": {
                                                                    "type": "string"
                                                                },
                                                                "merges_url": {
                                                                    "type": "string"
                                                                },
                                                                "milestones_url": {
                                                                    "type": "string"
                                                                },
                                                                "mirror_url": {},
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "node_id": {
                                                                    "type": "string"
                                                                },
                                                                "notifications_url": {
                                                                    "type": "string"
                                                                },
                                                                "open_issues": {
                                                                    "type": "integer"
                                                                },
                                                                "open_issues_count": {
                                                                    "type": "integer"
                                                                },
                                                                "owner": {
                                                                    "properties": {
                                                                        "avatar_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "events_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "followers_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "following_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "gists_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "gravatar_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "html_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "id": {
                                                                            "type": "integer"
                                                                        },
                                                                        "login": {
                                                                            "type": "string"
                                                                        },
                                                                        "node_id": {
                                                                            "type": "string"
                                                                        },
                                                                        "organizations_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "received_events_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "repos_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "site_admin": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "starred_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "subscriptions_url": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "type": "string"
                                                                        },
                                                                        "url": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "private": {
                                                                    "type": "boolean"
                                                                },
                                                                "pulls_url": {
                                                                    "type": "string"
                                                                },
                                                                "pushed_at": {
                                                                    "type": "string"
                                                                },
                                                                "releases_url": {
                                                                    "type": "string"
                                                                },
                                                                "size": {
                                                                    "type": "integer"
                                                                },
                                                                "squash_merge_commit_message": {
                                                                    "type": "string"
                                                                },
                                                                "squash_merge_commit_title": {
                                                                    "type": "string"
                                                                },
                                                                "ssh_url": {
                                                                    "type": "string"
                                                                },
                                                                "stargazers_count": {
                                                                    "type": "integer"
                                                                },
                                                                "stargazers_url": {
                                                                    "type": "string"
                                                                },
                                                                "statuses_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscribers_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscription_url": {
                                                                    "type": "string"
                                                                },
                                                                "svn_url": {
                                                                    "type": "string"
                                                                },
                                                                "tags_url": {
                                                                    "type": "string"
                                                                },
                                                                "teams_url": {
                                                                    "type": "string"
                                                                },
                                                                "topics": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "trees_url": {
                                                                    "type": "string"
                                                                },
                                                                "updated_at": {
                                                                    "type": "string"
                                                                },
                                                                "url": {
                                                                    "type": "string"
                                                                },
                                                                "use_squash_pr_title_as_default": {
                                                                    "type": "boolean"
                                                                },
                                                                "visibility": {
                                                                    "type": "string"
                                                                },
                                                                "watchers": {
                                                                    "type": "integer"
                                                                },
                                                                "watchers_count": {
                                                                    "type": "integer"
                                                                },
                                                                "web_commit_signoff_required": {
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "sha": {
                                                            "type": "string"
                                                        },
                                                        "user": {
                                                            "properties": {
                                                                "avatar_url": {
                                                                    "type": "string"
                                                                },
                                                                "events_url": {
                                                                    "type": "string"
                                                                },
                                                                "followers_url": {
                                                                    "type": "string"
                                                                },
                                                                "following_url": {
                                                                    "type": "string"
                                                                },
                                                                "gists_url": {
                                                                    "type": "string"
                                                                },
                                                                "gravatar_id": {
                                                                    "type": "string"
                                                                },
                                                                "html_url": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "login": {
                                                                    "type": "string"
                                                                },
                                                                "node_id": {
                                                                    "type": "string"
                                                                },
                                                                "organizations_url": {
                                                                    "type": "string"
                                                                },
                                                                "received_events_url": {
                                                                    "type": "string"
                                                                },
                                                                "repos_url": {
                                                                    "type": "string"
                                                                },
                                                                "site_admin": {
                                                                    "type": "boolean"
                                                                },
                                                                "starred_url": {
                                                                    "type": "string"
                                                                },
                                                                "subscriptions_url": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "url": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "html_url": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "issue_url": {
                                                    "type": "string"
                                                },
                                                "labels": {
                                                    "items": {
                                                        "properties": {
                                                            "color": {
                                                                "type": "string"
                                                            },
                                                            "default": {
                                                                "type": "boolean"
                                                            },
                                                            "description": {},
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "node_id": {
                                                                "type": "string"
                                                            },
                                                            "url": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "node_id",
                                                            "url",
                                                            "name",
                                                            "color",
                                                            "default",
                                                            "description"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "locked": {
                                                    "type": "boolean"
                                                },
                                                "maintainer_can_modify": {
                                                    "type": "boolean"
                                                },
                                                "merge_commit_sha": {
                                                    "type": "string"
                                                },
                                                "mergeable": {},
                                                "mergeable_state": {
                                                    "type": "string"
                                                },
                                                "merged": {
                                                    "type": "boolean"
                                                },
                                                "merged_at": {},
                                                "merged_by": {},
                                                "milestone": {},
                                                "node_id": {
                                                    "type": "string"
                                                },
                                                "number": {
                                                    "type": "integer"
                                                },
                                                "patch_url": {
                                                    "type": "string"
                                                },
                                                "rebaseable": {},
                                                "requested_reviewers": {
                                                    "type": "array"
                                                },
                                                "requested_teams": {
                                                    "items": {
                                                        "properties": {
                                                            "description": {
                                                                "type": "string"
                                                            },
                                                            "html_url": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "members_url": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "node_id": {
                                                                "type": "string"
                                                            },
                                                            "notification_setting": {
                                                                "type": "string"
                                                            },
                                                            "parent": {},
                                                            "permission": {
                                                                "type": "string"
                                                            },
                                                            "privacy": {
                                                                "type": "string"
                                                            },
                                                            "repositories_url": {
                                                                "type": "string"
                                                            },
                                                            "slug": {
                                                                "type": "string"
                                                            },
                                                            "url": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "id",
                                                            "node_id",
                                                            "slug",
                                                            "description",
                                                            "privacy",
                                                            "notification_setting",
                                                            "url",
                                                            "html_url",
                                                            "members_url",
                                                            "repositories_url",
                                                            "permission",
                                                            "parent"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "review_comment_url": {
                                                    "type": "string"
                                                },
                                                "review_comments": {
                                                    "type": "integer"
                                                },
                                                "review_comments_url": {
                                                    "type": "string"
                                                },
                                                "state": {
                                                    "type": "string"
                                                },
                                                "statuses_url": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                },
                                                "user": {
                                                    "properties": {
                                                        "avatar_url": {
                                                            "type": "string"
                                                        },
                                                        "events_url": {
                                                            "type": "string"
                                                        },
                                                        "followers_url": {
                                                            "type": "string"
                                                        },
                                                        "following_url": {
                                                            "type": "string"
                                                        },
                                                        "gists_url": {
                                                            "type": "string"
                                                        },
                                                        "gravatar_id": {
                                                            "type": "string"
                                                        },
                                                        "html_url": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "login": {
                                                            "type": "string"
                                                        },
                                                        "node_id": {
                                                            "type": "string"
                                                        },
                                                        "organizations_url": {
                                                            "type": "string"
                                                        },
                                                        "received_events_url": {
                                                            "type": "string"
                                                        },
                                                        "repos_url": {
                                                            "type": "string"
                                                        },
                                                        "site_admin": {
                                                            "type": "boolean"
                                                        },
                                                        "starred_url": {
                                                            "type": "string"
                                                        },
                                                        "subscriptions_url": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "repository": {
                                            "properties": {
                                                "allow_forking": {
                                                    "type": "boolean"
                                                },
                                                "archive_url": {
                                                    "type": "string"
                                                },
                                                "archived": {
                                                    "type": "boolean"
                                                },
                                                "assignees_url": {
                                                    "type": "string"
                                                },
                                                "blobs_url": {
                                                    "type": "string"
                                                },
                                                "branches_url": {
                                                    "type": "string"
                                                },
                                                "clone_url": {
                                                    "type": "string"
                                                },
                                                "collaborators_url": {
                                                    "type": "string"
                                                },
                                                "comments_url": {
                                                    "type": "string"
                                                },
                                                "commits_url": {
                                                    "type": "string"
                                                },
                                                "compare_url": {
                                                    "type": "string"
                                                },
                                                "contents_url": {
                                                    "type": "string"
                                                },
                                                "contributors_url": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "default_branch": {
                                                    "type": "string"
                                                },
                                                "deployments_url": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "disabled": {
                                                    "type": "boolean"
                                                },
                                                "downloads_url": {
                                                    "type": "string"
                                                },
                                                "events_url": {
                                                    "type": "string"
                                                },
                                                "fork": {
                                                    "type": "boolean"
                                                },
                                                "forks": {
                                                    "type": "integer"
                                                },
                                                "forks_count": {
                                                    "type": "integer"
                                                },
                                                "forks_url": {
                                                    "type": "string"
                                                },
                                                "full_name": {
                                                    "type": "string"
                                                },
                                                "git_commits_url": {
                                                    "type": "string"
                                                },
                                                "git_refs_url": {
                                                    "type": "string"
                                                },
                                                "git_tags_url": {
                                                    "type": "string"
                                                },
                                                "git_url": {
                                                    "type": "string"
                                                },
                                                "has_discussions": {
                                                    "type": "boolean"
                                                },
                                                "has_downloads": {
                                                    "type": "boolean"
                                                },
                                                "has_issues": {
                                                    "type": "boolean"
                                                },
                                                "has_pages": {
                                                    "type": "boolean"
                                                },
                                                "has_projects": {
                                                    "type": "boolean"
                                                },
                                                "has_wiki": {
                                                    "type": "boolean"
                                                },
                                                "homepage": {},
                                                "hooks_url": {
                                                    "type": "string"
                                                },
                                                "html_url": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "is_template": {
                                                    "type": "boolean"
                                                },
                                                "issue_comment_url": {
                                                    "type": "string"
                                                },
                                                "issue_events_url": {
                                                    "type": "string"
                                                },
                                                "issues_url": {
                                                    "type": "string"
                                                },
                                                "keys_url": {
                                                    "type": "string"
                                                },
                                                "labels_url": {
                                                    "type": "string"
                                                },
                                                "language": {
                                                    "type": "string"
                                                },
                                                "languages_url": {
                                                    "type": "string"
                                                },
                                                "license": {
                                                    "properties": {
                                                        "key": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "node_id": {
                                                            "type": "string"
                                                        },
                                                        "spdx_id": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "merges_url": {
                                                    "type": "string"
                                                },
                                                "milestones_url": {
                                                    "type": "string"
                                                },
                                                "mirror_url": {},
                                                "name": {
                                                    "type": "string"
                                                },
                                                "node_id": {
                                                    "type": "string"
                                                },
                                                "notifications_url": {
                                                    "type": "string"
                                                },
                                                "open_issues": {
                                                    "type": "integer"
                                                },
                                                "open_issues_count": {
                                                    "type": "integer"
                                                },
                                                "owner": {
                                                    "properties": {
                                                        "avatar_url": {
                                                            "type": "string"
                                                        },
                                                        "events_url": {
                                                            "type": "string"
                                                        },
                                                        "followers_url": {
                                                            "type": "string"
                                                        },
                                                        "following_url": {
                                                            "type": "string"
                                                        },
                                                        "gists_url": {
                                                            "type": "string"
                                                        },
                                                        "gravatar_id": {
                                                            "type": "string"
                                                        },
                                                        "html_url": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "login": {
                                                            "type": "string"
                                                        },
                                                        "node_id": {
                                                            "type": "string"
                                                        },
                                                        "organizations_url": {
                                                            "type": "string"
                                                        },
                                                        "received_events_url": {
                                                            "type": "string"
                                                        },
                                                        "repos_url": {
                                                            "type": "string"
                                                        },
                                                        "site_admin": {
                                                            "type": "boolean"
                                                        },
                                                        "starred_url": {
                                                            "type": "string"
                                                        },
                                                        "subscriptions_url": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "private": {
                                                    "type": "boolean"
                                                },
                                                "pulls_url": {
                                                    "type": "string"
                                                },
                                                "pushed_at": {
                                                    "type": "string"
                                                },
                                                "releases_url": {
                                                    "type": "string"
                                                },
                                                "size": {
                                                    "type": "integer"
                                                },
                                                "ssh_url": {
                                                    "type": "string"
                                                },
                                                "stargazers_count": {
                                                    "type": "integer"
                                                },
                                                "stargazers_url": {
                                                    "type": "string"
                                                },
                                                "statuses_url": {
                                                    "type": "string"
                                                },
                                                "subscribers_url": {
                                                    "type": "string"
                                                },
                                                "subscription_url": {
                                                    "type": "string"
                                                },
                                                "svn_url": {
                                                    "type": "string"
                                                },
                                                "tags_url": {
                                                    "type": "string"
                                                },
                                                "teams_url": {
                                                    "type": "string"
                                                },
                                                "topics": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "trees_url": {
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                },
                                                "visibility": {
                                                    "type": "string"
                                                },
                                                "watchers": {
                                                    "type": "integer"
                                                },
                                                "watchers_count": {
                                                    "type": "integer"
                                                },
                                                "web_commit_signoff_required": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "sender": {
                                            "properties": {
                                                "avatar_url": {
                                                    "type": "string"
                                                },
                                                "events_url": {
                                                    "type": "string"
                                                },
                                                "followers_url": {
                                                    "type": "string"
                                                },
                                                "following_url": {
                                                    "type": "string"
                                                },
                                                "gists_url": {
                                                    "type": "string"
                                                },
                                                "gravatar_id": {
                                                    "type": "string"
                                                },
                                                "html_url": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "login": {
                                                    "type": "string"
                                                },
                                                "node_id": {
                                                    "type": "string"
                                                },
                                                "organizations_url": {
                                                    "type": "string"
                                                },
                                                "received_events_url": {
                                                    "type": "string"
                                                },
                                                "repos_url": {
                                                    "type": "string"
                                                },
                                                "site_admin": {
                                                    "type": "boolean"
                                                },
                                                "starred_url": {
                                                    "type": "string"
                                                },
                                                "subscriptions_url": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Compose": {
                            "runAfter": {},
                            "type": "Compose",
                            "inputs": "@triggerBody()"
                        },
                        "Response": {
                            "runAfter": {
                                "Send_message": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "headers": {
                                    "Content-Type": "application-json"
                                },
                                "statusCode": 200
                            }
                        },
                        "Send_message": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "ContentData": "@{base64(outputs('Compose'))}",
                                    "ContentType": "text/plain"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus_1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/@{encodeURIComponent(encodeURIComponent('test'))}/messages"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "servicebus_1": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sb_con_name'))]",
                                "connectionName": "servicebus-connection",
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'servicebus')]"
                                
                            }
                        }
                    }

                 }
            }
        }
        
    ],
    "outputs": {

     "callbackUrl": {
          "type": "String",
          "value": "[listCallbackURL(resourceId('Microsoft.Logic/workflows/triggers', parameters('logic_app_name'), 'manual'), '2017-07-01').value]"
    }
     }
}
